.idea/
.vscode/
.settings/
.rocketeer/
/nbproject/private/
vendor/
.settings/
nbproject/
node_modules/
npm-debug.log
# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
composer.lock
.env.*.php
.env.php
.DS_Store
.env
.project
.buildpath
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
