a {
	cursor: pointer;
}

.login {
	background: url(../images/homeimgs/login-bg.png) no-repeat left 110px;
	height: 100%;
	zoom: 1;
	min-height: 600px;
}

.login:after {
	content: "";
	display: block;
	clear: both;
}

.loginbox {
	margin: 0px 45px auto 0;
	overflow: hidden;
	zoom: 1;
	clear: both;
	padding: 30px;
	width: 360px;
	height: 410px;
	border: 1px solid #f6f6f6;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	float: right;
	margin-right: 40px;
}

.avatar {
	width: 109px;
	height: 109px;
	border-radius: 50%;
	margin: 0 auto;
	display: block;
}

.login-avatar {
	/* modify by zhangfj 2016-1-21 ԭ 109*/
	width: 69px;
	height: 69px;
	border-radius: 50%;
	margin: 0 auto;
	display: block;
}

.login-form p {
	margin-top: 20px;
}

.input {
	width: 100%;
	height: 36px;
	line-height: 36px; /* add by zhangfjb 2016-3-4 �ı���ֱ���� */
	border: none;
	box-shadow: none;
	border-bottom: 1px solid #eee;
	text-indent: 40px; /* ����40px modify by zhangfj 2016-3-4 */
	/* add by zhangfj 2016-3-4 ���text-indent ԭ��IE8�����²����� */
	/* padding-left: 40px; */
	background-image: url(../images/homeimgs/login-input-bg.png);
	background-repeat: no-repeat;
}

.username {
	background-position: 4px 12px;
}

.pwd {
	background-position: 4px -45px;;
}

/* add by zhangfj 2016-1-21 ��֤�� */
.verify-input {
	background-image: url(../images/homeimgs/icon-aval.png);
	background-position: 4px 6px;
	width: 70%;
	vertical-align: middle; /* add by zhangfj 2016-3-4 ��ֱ���� */
}
/* add by zhangfj 2016-1-21 ��֤�� */
.verify {
	width: 30%;
	border: none;
	box-shadow: none;
	border-bottom: 1px solid #eee;
	height: 36px;
	vertical-align: middle; /* add by zhangfj 2016-3-4 ��ֱ���� */
}

.button.button-login {
	border-radius: 0;
	background: #1f9b6d;
}

/*�û�����*/
.userCenter {
	margin-top: 10px;
	border: 1px solid #f0eeee;
	background: #f5f5f5;
	margin-left: 30px;
	margin-right: 45px;
	margin-bottom: 30px; /*modify by zhangfj 2016-3-25 100px=>30px*/
	min-height: 600px;
}

.userCenter .left {
	float: left;
	width: 220px;
}

.userCenter .left li {
	height: 43px;
	line-height: 43px;
}

.userCenter .left li a {
	display: block;
	width: 100%;
	box-sizing: border-box;
	border-left: 2px solid #f5f5f5;
	text-indent: 40px;
	color: #525252;
}

.userCenter .left li a.active {
	border-left: 2px solid #1dac75;
	background: #fff;
}

.userCenter .right {
	margin-left: 220px;
	background: #fff;
	border-left: 1px solid #f0eeee;
	min-height: 625px;
}

.userCenter .right .info-form {
	width: 390px;/*add by zhangfj 2016-5-31 450px=>390px*/
	margin: 0 auto;
	padding-bottom: 50px;
}

.user-avatar {
	padding-top: 40px;
}

.change-avatar {
	color: #199867;
	font-size: 12px;
	margin-left: 65%;/*add by zhangfj 2016-5-31 63%=>65%*/
	margin-top: -15px;
	display: block;
	text-decoration: underline;
}

.form {
	width: 100%;
	padding-top: 20px;
	margin-bottom: 30px;
}

.form dl {
	height: 37px;
	line-height: 37px;
	margin-top: 15px;
}

.form dl dt {
	float: left;
	width: 90px;/*add by zhangfj 2016-5-31 150px=>90px*/
	text-align: right;
	/*add by zhangfj 2016-4-26*/
	height: 37px;
	line-height: 37px;	
}

.form dl dd {
	margin-left: 100px;/*add by zhangfj 2016-5-31 160px=>100px*/
	position: relative;
	/*add by zhangfj 2016-4-26*/	
	height: 37px;
	line-height: 37px;	
}

.form dl dd .input {
	height: 37px;
	line-height: 37px;
	border: 1px solid #e5e5e5;
	width: 100%;
	background: none;
	text-indent: 5px;
}

.form dl dd .my-select {
	position: absolute;
	top: 15px;
	right: 10px;
	width: 16px;
	height: 16px;
}

.form dl dd .my-select .icon {
	display: block;
	width: 16px;
	height: 9px;
	background: url(../images/homeimgs/arrow.png) no-repeat;
}

.form dl dd ul {
	display: none;
	position: absolute;
	width: 100%;
	top: 36px;
	border: 1px solid #e5e5e5;
	border-top: none;
	background: #fff;
	z-index: 2;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, .13);
}

.form dl dd ul li {
	font-size: 12px;
	padding-left: 5px;
	line-height: 37px;
}

/*选择头像*/
.right-con {
	width: 90%;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 50px;
}

.right-con .title {
	font-size: 14px;
	color: #575757;
	margin-bottom: 30px;
}

.avatar-area {
	width: 64%;
	float: left;
	border-right: 1px solid #e5e5e5;
}

.upload {
	width: 80%;
	height: 280px;
	background: #f7f7f7;
	position: relative;
	margin-bottom: 30px;
}

.upload .avatar-btn {
	width: 148px;
	height: 47px;
	border: 1px solid #eeeeee;
	background: #fff;
	line-height: 47px;
	font-size: 14px;
	color: #555555;
	position: absolute;
	top: 30%;
	left: 50%;
	margin-left: -74px;
	text-align: center;
}

.upload .avatar-btn .icon {
	display: inline-block;
	background: url(../images/homeimgs/add-icon.png) no-repeat;
	width: 14px;
	height: 14px;
	margin-right: 5px;
}

.upload p {
	position: absolute;
	top: 55%;
	text-align: center;
	font-size: 12px;
	width: 100%;
	color: #555555;
}

.recommend a {
	border: 0;
	display: inline-block;
	margin: 3px;
}

.recommend a img {
	padding: 2px;
	border: 0;
}

.recommend a img.active {
	border: 2px solid #f5a902;
	padding: 0
}

.preview {
	width: 30%;
	float: left;
	margin-left: 5%;
}

.preview p {
	font-size: 12px;
	color: #575757;
	line-height: 24px;
}

.recommend img {
	cursor: pointer;
}

.account-top {
	margin: 0 auto;
	padding: 25px 20px;
	background: #f2fdf9;
}

.account-top dl {
	padding: 2px 0;
	overflow: hidden;
	zoom: 1;
	margin-bottom: 0px;
}

.account-top dl dt {
	float: left;
	width: 75px;
	padding: 0;
	margin: 0px;
	display: inline-block;
	font-size: 14px;
	color: #575757;
}

.account-top dl dd {
	width: 124px;
	height: 12px;
	margin-top: 6px;
	overflow: hidden;
	background: #dfdfdf;
	display: inline-block;
	margin-left: 5px;
}

.account-top dd.d1 div {
	background-color: #1fa170;
	height: 100%;
}

.account-top .tip {
	font-size: 12px;
	color: #1fa170;
	margin-left: 10px;
}

.account-top .warning {
	color: #f5a902;
	font-size: 12px;
	margin-left: 10px;
}

.account-con dl {
	width: 100%;
	height: 97px;
	line-height: 97px;
	padding-left: 15px;
}

.account-con dt {
	float: left;
	width: 150px;
	font-size: 16px;
	color: #575757;
}

.account-con dt .icon {
	display: inline-block;
	width: 41px;
	height: 41px;
	background-image: url(../images/homeimgs/account.png);
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-right: 19px;
}

.account-con dt .icon.safety {
	background-position: left top;
}

.account-con dt .icon.warning {
	background-position: left bottom;
}

.account-con dd {
	margin-left: 160px;
	font-size: 14px;
	color: #999999;
}

.account-con dd a {
	float: right;
	width: 20%;
	color: #1fa170;
}

.main_unit {
	float: left;
	width: 100%;
	margin-left: 10px;
	border-left: 4px solid #eeeeee;
	padding-left: 20px;
	padding-bottom: 45px;
}

.main_unit:last-child {
	padding-bottom: 0px;
}

.content_header {
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
	background: url(../images/homeimgs/message-list-bg.png) no-repeat left
		center;
	position: relative;
	left: -34px;;
	padding-left: 35px;
	top: -3px;
	color: #807f7f;
	font-size: 12px;
}

.main_date {
	text-align: center;
	display: inline-block;
}

.main_time,.main_type {
	margin-left: 10px;
}

.contentbox {
	background-color: #FAFAFA;
	margin-top: 10px;
	border: 1px solid #eee;
	padding: 10px 15px;
	float: left;
	width: 97%;
	box-sizing: border-box;
	min-height: 110px;
}

.contentbox_title {
	font-size: 14px;
	color: #1dac75;
	margin: 20px auto;
}

.contentbox_main {
	font-size: 12px;
	color: #828584;
}

.overdue .contentbox_title {
	color: #a5a5a5;
}

.overdue .contentbox_main {
	color: #b8b7b7;
}

/*·忘记密码*/
.forget-con {
	width: 800px;
	margin: 0 auto;
	padding-top: 50px;
}

.forget-con .step {
	position: relative;
}

.step-line {
	position: absolute;
	height: 2px;
	width: 80%;
	font-size: 0;
	background-color: #1f9b6d;
	top: 40%;
	left: 10%;
	z-index: 0;
}

.forget-con .step ul {
	position: relative;
	z-index: 1;
}

.forget-con .step li {
	float: left;
	text-align: center;
}

.forget-con .step li span {
	font-size: 14px;
	color: #8d8b8b;
}

.forget-con .step.four li {
	width: 25%;
}

.forget-con .step.three li {
	width: 33%;
}

.forget-con .step.three .step-line {
	width: 70%;
	left: 15%;
}

.forget-con .step li .icon {
	display: block;
	width: 58px;
	height: 58px;
	margin: 0 auto;
	margin-bottom: 5px;
	background-image: url(../images/homeimgs/forgetPwd.png);
}

.icon.forget-1 {
	background-position: 0 0;
}

.icon.forget-2 {
	background-position: -70px 0;
}

.icon.forget-3 {
	background-position: -140px 0;
}

.icon.forget-4 {
	background-position: -210px 0;
}

.forget-con .step li.active span {
	color: #414040;
}

.active .icon.forget-2 {
	background-position: -70px -64px;
}

.active .icon.forget-3 {
	background-position: -140px -64px;
}

.active .icon.forget-4 {
	background-position: -210px -64px;
}

.icon.register-2 {
	background-position: -70px -510px;
}

.active .icon.register-2 {
	background-position: 0 -510px;
}

.forget-con .form {
	width: 440px;/*add by zhangfj 2016-5-31 500px=>440px*/
	margin: 0 auto;
}

.forget-con .form dd {
	color: #424141;
}

.forget-con .form dd img {
	vertical-align: middle;
	display: inline-block;
}

.security-btn {
	display: inline-block;
	width: 25%;
	height: 37px;
	background-color: #f5f5f5;
	border: 1px solid #e5e5e5;
	color: #555555;
	margin-left: 3%;
	font-size: 14px;
	text-align: center;
}

.forget-con .form p.succeed {
	font-size: 20px;
	color: #414040;
	text-align: center;
	line-height: 34px;
}

.forget-con .form p.succeed .icon {
	display: inline-block;
	width: 34px;
	height: 34px;
	margin-right: 10px;
	vertical-align: middle;
}

.icon-succeed {
	background-image: url(../images/homeimgs/icon-succeed.png);
	background-size: 34px 34px;
}

.succeed-tip {
	display: block;
	font-size: 14px;
	color: #959393;
	width: 100%;
	/* margin-left:35%; */
	line-height: 24px;
	text-align: left;
}

.succeed-tip em {
	font-style: normal;
	font-size: 16px;
	color: #ef0707;
}

.text-top {
	vertical-align: text-top !important;
}